
/* TinySet.css                                  */
/* -------------------------------------------- */
/* A super small CSS reset with basic utilities */


/* Base Reset + Normalize + Box-sizing */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

body {
    margin: 0;
}

img, svg {
    max-width: 100%;
    height: auto;
}

body, nav, main, section, article, aside, header, footer, div, form, textarea, input, ul, li, a, svg {
    box-sizing: inherit
}

nav, main, section, article, aside, header, footer {
    display: block
}

button, input, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

a {
    background-color: transparent
}

a:active, a:hover, input:focus, select:focus, textarea:focus, button:focus {
    outline: 0
}

textarea {
    overflow: auto
}


/* Typography */

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

b, strong, .bold {
    font-weight: bold
}

i, em, .italic {
    font-style: italic
}

.lowercase { text-transform: lowercase }
.uppercase { text-transform: uppercase }

.line-height-none { line-height: 1 }
.line-height-title { line-height: 1.5 }
.line-height-default { line-height: 1.75 }

.font-size-1 { font-size: 2rem    }
.font-size-2 { font-size: 1.75rem }
.font-size-3 { font-size: 1.5rem  }
.font-size-4 { font-size: 1.25rem }
.font-size-5 { font-size: 1rem    }
.font-size-6 { font-size: .875rem }
.font-size-7 { font-size: .75rem  }
.font-size-8 { font-size: .625rem }

.font-weight-1 { font-weight: 100 }
.font-weight-2 { font-weight: 200 }
.font-weight-3 { font-weight: 300 }
.font-weight-4 { font-weight: 400 }
.font-weight-5 { font-weight: 500 }
.font-weight-6 { font-weight: 600 }
.font-weight-7 { font-weight: 700 }
.font-weight-8 { font-weight: 800 }
.font-weight-9 { font-weight: 900 }

.tracking-tight  { letter-spacing: -.0625em }
.tracking-normal { letter-spacing: normal   }
.tracking-slight { letter-spacing: .0625em  }
.tracking-wide   { letter-spacing: .125em   }
.tracking-super  { letter-spacing: .25em    }

.underline-none { text-decoration: none }


/* Layout */

.fit { max-width: 100% }
.width-full { width: 100% }
.height-full { min-height: 100vh }

.left  { float: left }
.right { float: right }

.block { display: block }

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.align-left { text-align: left }
.align-right { text-align: right }
.align-center { text-align: center }

.align-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.inline-block-middle {
    display: inline-block;
    vertical-align: middle;
}

.hide { display: none }
.nowrap { white-space: nowrap }
.overflow-hidden { overflow: hidden }

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after { clear: both }


/* Positions */

.absolute { position: absolute }
.fixed { position: fixed }
.relative { position: relative }

.z1 { z-index: 1 }
.z2 { z-index: 2 }
.z3 { z-index: 3 }
.z4 { z-index: 4 }
.z5 { z-index: 5 }

.t0 { top: 0      }
.t1 { top: .25rem }
.t2 { top: .5rem  }
.t3 { top: 1rem   }
.t4 { top: 2rem   }
.t5 { top: 4rem   }

.r0 { right: 0      }
.r1 { right: .25rem }
.r2 { right: .5rem  }
.r3 { right: 1rem   }
.r4 { right: 2rem   }
.r5 { right: 4rem   }

.b0 { bottom: 0      }
.b1 { bottom: .25rem }
.b2 { bottom: .5rem  }
.b3 { bottom: 1rem   }
.b4 { bottom: 2rem   }
.b5 { bottom: 4rem   }

.l0 { left: 0      }
.l1 { left: .25rem }
.l2 { left: .5rem  }
.l3 { left: 1rem   }
.l4 { left: 2rem   }
.l5 { left: 4rem   }


/* Margins  */

.m1 { margin: .25rem }
.m2 { margin: .5rem  }
.m3 { margin: 1rem   }
.m4 { margin: 2rem   }
.m5 { margin: 4rem   }
.m6 { margin: 8rem   }

.mx1 { margin-left: .25rem; margin-right: .25rem }
.mx2 { margin-left: .5rem;  margin-right: .5rem  }
.mx3 { margin-left: 1rem;   margin-right: 1rem   }
.mx4 { margin-left: 2rem;   margin-right: 2rem   }
.mx5 { margin-left: 4rem;   margin-right: 4rem   }
.mx6 { margin-left: 8rem;   margin-right: 8rem   }

.my1 { margin-top: .25rem; margin-bottom: .25rem }
.my2 { margin-top: .5rem;  margin-bottom: .5rem  }
.my3 { margin-top: 1rem;   margin-bottom: 1rem   }
.my4 { margin-top: 2rem;   margin-bottom: 2rem   }
.my5 { margin-top: 4rem;   margin-bottom: 4rem   }
.my6 { margin-top: 8rem;   margin-bottom: 8rem   }

.mt1 { margin-top: .25rem }
.mt2 { margin-top: .5rem  }
.mt3 { margin-top: 1rem   }
.mt4 { margin-top: 2rem   }
.mt5 { margin-top: 4rem   }
.mt6 { margin-top: 8rem   }

.mr1 { margin-right: .25rem }
.mr2 { margin-right: .5rem  }
.mr3 { margin-right: 1rem   }
.mr4 { margin-right: 2rem   }
.mr5 { margin-right: 4rem   }
.mr6 { margin-right: 8rem   }

.mb1 { margin-bottom: .25rem }
.mb2 { margin-bottom: .5rem  }
.mb3 { margin-bottom: 1rem   }
.mb4 { margin-bottom: 2rem   }
.mb5 { margin-bottom: 4rem   }
.mb6 { margin-bottom: 8rem   }

.ml1 { margin-left: .25rem }
.ml2 { margin-left: .5rem  }
.ml3 { margin-left: 1rem   }
.ml4 { margin-left: 2rem   }
.ml5 { margin-left: 4rem   }
.ml6 { margin-left: 8rem   }


/* Padding  */

.p1 { padding: .25rem }
.p2 { padding: .5rem  }
.p3 { padding: 1rem   }
.p4 { padding: 2rem   }
.p5 { padding: 4rem   }
.p6 { padding: 8rem   }

.px1 { padding-left: .25rem; padding-right: .25rem }
.px2 { padding-left: .5rem;  padding-right: .5rem  }
.px3 { padding-left: 1rem;   padding-right: 1rem   }
.px4 { padding-left: 2rem;   padding-right: 2rem   }
.px5 { padding-left: 4rem;   padding-right: 4rem   }
.px6 { padding-left: 8rem;   padding-right: 8rem   }

.py1 { padding-top: .25rem; padding-bottom: .25rem }
.py2 { padding-top: .5rem;  padding-bottom: .5rem  }
.py3 { padding-top: 1rem;   padding-bottom: 1rem   }
.py4 { padding-top: 2rem;   padding-bottom: 2rem   }
.py5 { padding-top: 4rem;   padding-bottom: 4rem   }
.py6 { padding-top: 8rem;   padding-bottom: 8rem   }

.pt1 { padding-top: .25rem }
.pt2 { padding-top: .5rem  }
.pt3 { padding-top: 1rem   }
.pt4 { padding-top: 2rem   }
.pt5 { padding-top: 4rem   }
.pt6 { padding-top: 8rem   }

.pr1 { padding-right: .25rem }
.pr2 { padding-right: .5rem  }
.pr3 { padding-right: 1rem   }
.pr4 { padding-right: 2rem   }
.pr5 { padding-right: 4rem   }
.pr6 { padding-right: 8rem   }

.pb1 { padding-bottom: .25rem }
.pb2 { padding-bottom: .5rem  }
.pb3 { padding-bottom: 1rem   }
.pb4 { padding-bottom: 2rem   }
.pb5 { padding-bottom: 4rem   }
.pb6 { padding-bottom: 8rem   }

.pl1 { padding-left: .25rem }
.pl2 { padding-left: .5rem  }
.pl3 { padding-left: 1rem   }
.pl4 { padding-left: 2rem   }
.pl5 { padding-left: 4rem   }
.pl6 { padding-left: 8rem   }


/* Sizes */

.w1 { width: .25rem }
.w2 { width: .5rem  }
.w3 { width: 1rem   }
.w4 { width: 2rem   }
.w5 { width: 4rem   }
.w6 { width: 8rem   }

.h1 { height: .25rem }
.h2 { height: .5rem  }
.h3 { height: 1rem   }
.h4 { height: 2rem   }
.h5 { height: 4rem   }
.h6 { height: 8rem   }


/* Border Radius */

.br1    { border-radius: .125rem  }
.br2    { border-radius: .1875rem }
.br3    { border-radius: .25rem   }
.br4    { border-radius: .5rem    }
.br5    { border-radius: 1rem     }
.br6    { border-radius: 2rem     }
.br-all { border-radius: 50%      }


/* Opacity */

.opacity-1 { opacity: 0.1 }
.opacity-2 { opacity: 0.2 }
.opacity-3 { opacity: 0.3 }
.opacity-4 { opacity: 0.4 }
.opacity-5 { opacity: 0.5 }
.opacity-6 { opacity: 0.6 }
.opacity-7 { opacity: 0.7 }
.opacity-8 { opacity: 0.8 }
.opacity-8 { opacity: 0.9 }


/* Shadows */
.text-shadow-light  { text-shadow: 0 1px 2px rgba(0, 0, 0, .3) }
.text-shadow-medium { text-shadow: 0 1px 4px rgba(0, 0, 0, .4) }
.text-shadow-dark   { text-shadow: 0 1px 6px rgba(0, 0, 0, .5) }

.box-shadow-light   { box-shadow: 0 1px 1px rgba(0, 0, 0, .2)  }
.box-shadow-medium  { box-shadow: 0 1px 2px rgba(0, 0, 0, .3)  }
.box-shadow-dark    { box-shadow: 0 1px 3px rgba(0, 0, 0, .4)  }

.svg-shadow-light   { -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, .2)); filter: drop-shadow(0 1px 1px rgba(0, 0, 0, .2)) }
.svg-shadow-medium  { -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3)); filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3)) }
.svg-shadow-dark    { -webkit-filter: drop-shadow(0 1px 3px rgba(0, 0, 0, .4)); filter: drop-shadow(0 1px 3px rgba(0, 0, 0, .4)) }



/* Hover Dim */

.dim { opacity: .85; transition: opacity .2s ease }
.dim:hover { opacity: 1 }

.dim-color-white { color: rgba(255,255,255,.85); transition: color .2s ease }
.dim-color-white:hover { color: rgba(255,255,255,1) }

.dim-color-black { color: rgba(0,0,0,.85); transition: color .2s ease }
.dim-color-black:hover { color: rgba(0,0,0,1) }

.dim-bg-white { background-color: rgba(255,255,255,.15); transition: background-color .2s ease }
.dim-bg-white:hover { background-color: rgba(255,255,255,.2) }

.dim-bg-black { background-color: rgba(0,0,0,.15); transition: background-color .2s ease }
.dim-bg-black:hover { background-color: rgba(0,0,0,.2) }


/* Interactions  */

.pointer { cursor: pointer }

.no-select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Media Queries */

@media (max-width: 60rem) {

    .sm-width-100 { width: 100% }
    .sm-height-full { min-height: 100vh }

    .sm-width-33  { width: 33.33% }
    .sm-width-66  { width: 66.66% }

    .sm-width-25  { width: 25% }
    .sm-width-50  { width: 50% }
    .sm-width-75  { width: 75% }

    .sm-width-20  { width: 20% }
    .sm-width-40  { width: 40% }
    .sm-width-60  { width: 60% }
    .sm-width-80  { width: 80% }

    .sm-align-middle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .sm-left { float: left }
    .sm-right { float: right }

    .sm-absolute { position: absolute }
    .sm-fixed { position: fixed }
    .sm-relative { position: relative }

    .sm-hide { display: none !important }
    .sm-show { display: inherit !important }

}

@media (min-width: 60rem) {

    .lg-width-100 { width: 100% }
    .lg-height-full { min-height: 100vh }

    .lg-width-33  { width: 33.33% }
    .lg-width-66  { width: 66.66% }

    .lg-width-25  { width: 25% }
    .lg-width-50  { width: 50% }
    .lg-width-75  { width: 75% }
    
    .lg-width-20  { width: 20% }
    .lg-width-40  { width: 40% }
    .lg-width-60  { width: 60% }
    .lg-width-80  { width: 80% }

    .lg-align-middle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .lg-left { float: left }
    .lg-right { float: right }

    .lg-absolute { position: absolute }
    .lg-fixed { position: fixed }
    .lg-relative { position: relative }

    .lg-hide { display: none !important }
    .lg-show { display: inherit !important }

}
